<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/shopmaintenance.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title>Maintenance-Index</title>
</head>




<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Maintenance</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/add}">Add Maintenance Jobs</a></li>
                    <li><a th:href="@{/create}">Create</a></li>
                    <li><a th:href="@{/dashboard}" style="color:MediumSeaGreen">Dashboard</a></li>
                    <li><a th:href="@{/machine}">Machine</a></li>
                    <li><a th:href="@{/user}">Users</a></li>
                    <li> disabled>Log In</li>
                    <li><a th:href="@{/login}">Log In</a></li>
                    <li><a th:href="@{/logout}">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <h2>Index</h2>
        <ul>
            <li>"item"
                <a>HYPERLINK</a>
            </li>
        </ul>
    </div>

    <div>
        <img class="cat center" src="https://th.bing.com/th/id/OIP.qpqmULRG-TptJ6QeuripdQHaDm?w=317&h=170&c=7&o=5&pid=1.7" alt="Attack Cat" width="951" height="510" >
<!--        <img src=""/>-->
<!--        <img src="https://www.bing.com/th/id/OGC.3d02061caf16c0a66a87d72c66b5550f?pid=1.7&rurl=http%3a%2f%2f4.bp.blogspot.com%2f-p_FlNbxLEAU%2fVSJsF8md6YI%2fAAAAAAAAIsk%2famXrYhF3dTg%2fs1600%2fcat-attack.gif&ehk=yun8V1PchOqG2%2bABJRg%2f5Q7%2bTnmYxjwJWO1SwjMQ6T4%3d" width="800" height="448">-->
<!--        <img src="https://www.bing.com/th/id/OGC.b29ac7241d922212590230e6361d67e6?pid=1.7&rurl=https%3a%2f%2fmedia1.tenor.com%2fimages%2fb29ac7241d922212590230e6361d67e6%2ftenor.gif%3fitemid%3d4887124&ehk=dhU9hUrJW7CpwzDXNk82l4%2fioyRh00gne%2b04hJeivWU%3d" width="800" height="448">-->
    </div>

    <div class="container body-content">
        <p>
            This is a page to enter and change maintenance requests and repairs
        </p>
    </div>
</body>
</html>