<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/maintenance.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title>Maintenance-Dashboard</title>
</head>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Maintenance</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/add}">Add Maintenance Jobs</a></li>
                    <li><a th:href="@{/create}">Create</a></li>
                    <li><a th:href="@{/dashboard}" style="color:MediumSeaGreen">Dashboard</a></li>
                    <li><a th:href="@{/machine}">Machine</a></li>
                    <li><a th:href="@{/user}">Users</a></li>
                    <li> disabled>Log In</li>
                    <li><a th:href="@{/login}">Log In</a></li>
                    <li><a th:href="@{/logout}">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <h2>Dashboard</h2>
    <div>
        <input type="submit" class="btn btn-primary" value="Create"></input>
        <input type="submit" class="btn btn-primary" value="View"></input>
        <input type="submit" class="btn btn-primary" value="Users"></input>
        <input type="submit" class="btn btn-primary" value="Machine"></input>
    </div>
    </div>
    <div class="container body-content">
        <p>
            This is a page to
        </p>
    </div>
</body>
</html>