<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/maintenance.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title>Maintenance-Log In</title>
</head>





<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Maintenance</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/add}">Add Maintenance Jobs</a></li>
                <li><a th:href="@{/create}">Create</a></li>
                <li><a th:href="@{/dashboard}" style="color:MediumSeaGreen">Dashboard</a></li>
                <li><a th:href="@{/machine}">Machine</a></li>
                <li><a th:href="@{/user}">Users</a></li>
                <li> disabled>Log In</li>
                <li><a th:href="@{/login}">Log In</a></li>
                <li><a th:href="@{/logout}">Log Out</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    <h2>Log In</h2>
    <h2></h2>
    <div class="form-group">
        <label>Username
            <input class="form-control">
        </label>
        <label>Password
            <input class="form-control"  type="password">
        </label>
        <p class="error"></p>

        <input type="submit" class="btn btn-primary" value="Log In" />
    </div>
</div>
</form>

<!--<p>Don't have an account? <a href="/register">Register for one.</a></p>-->

</body>
</html>